/*css reset*/
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/*end css reset*/

/*css clear fix*/
/**
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    contenteditable attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that are clearfixed.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */
.cf:before,
.cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.cf:after {
    clear: both;
}

/**
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */
.cf {
    *zoom: 1;
}

/*end css clear fix*/

.container{
	width: 1365px;
	height: 500px;
	margin: auto;
	padding: 0;
	position: absolute;
}
.header{
	width: 1365px;
	height: 75px;
	margin: auto;
	background-color: rgb(36,105,165);
	
}
.header ul{
	text-align: left;
	display: inline;
	margin: 0;
	padding: 0;
	list-style: none;
}

.header ul li{
	font : bold 14px  sans-serif;
	display: inline-block;
	position: relative;
	padding: 25px 20px;
}
.header ul li a{
	text-decoration: none;
	padding: 25px 0px;
	color: white;
	font-size: 18px;
}

.header ul li:hover{
	background:rgb(35,104,164);
}

.header ul li ul{
	padding: 0;
	position: absolute;
	top: 70px;
	left:0;
	width: 250px;
	display: none;
	visibility: hidden;
}

.header ul li ul li{
	background: rgb(36,105,165);
	display: block;
	text-align: center;
}

.header ul li ul li:hover{
	background: lightblue;

}

.header ul li:hover ul{
	display: block;
	opacity: 1;
	visibility: visible;
}

/*.header ul ul u
.header a{
	text-decoration: none;
	color:rgb(255,255,255);
}*/

.logo{
	width: 10px;
	height: 10px;
}
.logo a{
	width: 100px;
	height: 10px;
	background-size: 100px;
	background-repeat: no-repeat;
	display: block;
	background-image: url(../img/abc.jpg);
	text-indent: -999999999px;
}

/*.logo a {
	height: 100px;
	width: 100px;
	background-size: 100px;
	background-repeat: no-repeat;
	display: inline-block;
	background-image: url(../img/abc.jpg);
	text-indent: -999999999px;
	margin:0;
}*/

.logout li{ 
	margin-left:500px;
}


.main{
	padding: 50px;
	background-color: #c5e5e7;
}
.main form{
	margin: auto;
	width: 1000px;
	height: 800px;
	padding-top: 50px;
	padding-bottom: 50px;
	padding-right: 50px;
	padding-left: 50px;
	background-color: #ffffff;
	border: 1px solid #eaeaea;
	border-radius: 10px;
	box-sizing: border-box;
}

.judul{
	font-size: 25px;
	font-family: verdana;
	text-align: center;
}

.tambah{
	margin-top: 90px;
	height: 50px;
	width: 200px;	
}
.tambah .tomboltambah {
	height: 50px;
	width: 170px;
	background-size: 170px;
	background-repeat: no-repeat;
	display: inline-block;
	background-image: url(../img/tambah.png);
	text-indent: -999999999px;
}

/*.tambah .tomboltambah:hover {

	animation: animasiTambah 1s ease running;
}

@keyframes animasiTambah{
	0%{
	height: 50px;
	width: 50px;
	background-size: 170px;
	}

	100%{
	height: 100px;
	width: 170px;
	background-size: 170px;
	}

}  */

  

.tabelmahasiswa table{
	width: 100%;
	border-collapse: collapse;
	box-shadow: 0 2px 3px 1px #ddd;
	overflow: hidden;
	border: 10px solid #fff;
	margin-top: 0px;
	font-size: 14px;
}

.tabelmahasiswa th, td{
	vertical-align: top;
	padding: 10px 7px;
	text-align: left;
	margin: 0;
}

.tabelmahasiswa tbody tr:nth-child(odd){
	background: #eee;
}

.tabelmahasiswa .Aksi {
	text-align: center;
	padding: 10px 50px;
}

.tabelmahasiswa .aksi{
	text-align: center;
	padding: 10px 10px;
}

.tabelmahasiswa .aksi a{
	text-decoration: none;
}

.tabelmahasiswa .aksi a:visited{
	color: blue;
	text-decoration: none;
}

/*.tabelmahasiswa{
    margin:50px 50px 50px 0px;
	padding: 0;

}
.tabelmahasiswa table{
	border:1px solid black;
	margin: 0;
}

.tabelmahasiswa th{
	padding: 10px 20px;
	border-left: 1px solid black;
	border-bottom: 1px solid black;
}
*/

/*.tabelmahasiswa tr{
	text-align: center;
}

.tabelmahasiswa td{
	text-align: left;
	padding: 10px 20px;
	border-left: 1px solid black;
}

.tabelmahasiswa img{
	float: left;
}*/


.footer{
	margin:auto;
	width: auto;
	height: 20px;
	padding: 10px;
	background-color: rgb(36,105,165);
	text-align: center;
	color: white; 
}